.Login{
    background-color: #ff6996;
    text-align: center;
    margin: 100px 520px;
    margin-bottom: 50px;
    border-radius: 10px;
}
div{
   
    display: block;
    padding: "5px";
    height: 160px;
    width: 200px;
   
}

.button{
    background-color: blue;
    color: white;
}